<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <xacro:macro name="ttbot_gazebo" params="">

    <gazebo reference="rear_left_wheel">
      <mu1>1000000.0</mu1>    <!-- ma sát dọc -->
      <mu2>1000000.0</mu2>    <!-- ma sát ngang -->
      <kp>1000000.0</kp>      <!-- độ cứng tiếp xúc -->
      <kd>10.0</kd>           <!-- giảm chấn -->
      <minDepth>0.001</minDepth>
      <maxVel>0.1</maxVel>
      <fdir1>1 0 0</fdir1>    <!-- hướng ma sát chính -->
    </gazebo>

    <gazebo reference="rear_right_wheel">
      <mu1>1000000.0</mu1>
      <mu2>1000000.0</mu2>
      <kp>1000000.0</kp>
      <kd>10.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>0.1</maxVel>
      <fdir1>1 0 0</fdir1>
    </gazebo>

    <gazebo reference="front_left_wheel">
      <mu1>100000.0</mu1>
      <mu2>100000.0</mu2>
      <kp>1000000.0</kp>
      <kd>10.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>0.1</maxVel>
    </gazebo>

    <gazebo reference="front_right_wheel">
      <mu1>100000.0</mu1>
      <mu2>100000.0</mu2>
      <kp>1000000.0</kp>
      <kd>10.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>0.1</maxVel>
    </gazebo>

    <gazebo>
      <xacro:if value="$(arg is_ignition)">
        <plugin filename="ign_ros2_control-system"
                name="ign_ros2_control::IgnitionROS2ControlPlugin">
          <parameters>$(find ttbot_controller)/config/ttbot_controllers.yaml</parameters>
        </plugin>
        <plugin filename="ignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu">
        </plugin>
      </xacro:if>

      <xacro:unless value="$(arg is_ignition)">
        <plugin filename="gz_ros2_control-system"
                name="gz_ros2_control::GazeboSimROS2ControlPlugin">
          <parameters>$(find ttbot_controller)/config/ttbot_controllers.yaml</parameters>
        </plugin>
        <plugin filename="ignition-gazebo-imu-system" name="ignition::gazebo::systems::Imu">
        </plugin>
      </xacro:unless>
    </gazebo>


  <gazebo reference="imu_link">
    <sensor name="imu" type="imu">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <gz_frame_id>imu_link</gz_frame_id>
        <topic>imu</topic>
        <imu>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
              </noise>
            </z>
          </linear_acceleration>
        </imu>
    </sensor>
  </gazebo>
  


  <gazebo reference="gps_link">
    <sensor name="gps_sensor" type="navsat">
      <always_on>1</always_on>
      <update_rate>10</update_rate>
      <topic>gps/fix</topic>
      <ignition_frame_id>gps_link</ignition_frame_id>
    </sensor>
  </gazebo>

  <gazebo reference="lidar_link">
      <sensor name="velodyne_vlp16" type="gpu_lidar">
          <pose>0 0 0 0 0 0</pose>
          
          <topic>/velodyne_points</topic>  <!-- Add leading / -->
          <ignition_frame_id>lidar_link</ignition_frame_id>  <!-- Add this -->
          
          <update_rate>10</update_rate>
          <gz_frame_id>lidar_link</gz_frame_id>
          <visualize>true</visualize>
          <always_on>true</always_on> 
          
          <ray>
              <scan>
                <horizontal>
                  <samples>1000</samples>
                  <resolution>1</resolution>
                  <min_angle>-3.14159265359</min_angle>
                  <max_angle>3.14159265359</max_angle>
                </horizontal>
                <vertical>
                  <samples>16</samples>
                  <resolution>1</resolution>
                  <min_angle>-0.261799</min_angle>
                  <max_angle>0.261799</max_angle>
                </vertical>
              </scan>
              <range>
                  <min>0.3</min>
                  <max>100.0</max>
                  <resolution>0.01</resolution>
              </range>
              <noise>
                  <type>gaussian</type>
                  <mean>0.0</mean>
                  <stddev>0.01</stddev>
              </noise>
          </ray>
      </sensor>
  </gazebo>

  <gazebo>
      <plugin filename="ignition-gazebo-navsat-system"
              name="ignition::gazebo::systems::NavSat">
      </plugin>
  </gazebo>



  </xacro:macro>

</robot>
